@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{/*Cores standard a usar*/
  --primary-color: #0073A7;
  --primary-background: #F1F1F1;
  --text-color: #707070;
  --button-text-color: white;
}


html, body {
  max-width: 100%;
  overflow-x: hidden;
}

*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  background: var(--primary-background);
}


.navbar{
  background: var(--button-text-color);
  padding: 1em;
  height: 80px;
}

.logo{
  height: 4em;
  margin: auto;
  width: 100%;
}

nav{
  display: none;
}

.container-nav{
  display: flex;
  place-content: space-between;
}


.container-hero{
  display: inline-block;
  place-content: space-between;
}

.mobile-menu{
  cursor: pointer;
  margin: auto;
}

a{
  color: var(--text-color);
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section{
  padding: 5em 2em;
}

.hero{
  text-align: center;
}

.subhead{
  text-transform: uppercase;
  font-weight: bold;
  color: var(--text-color);
  letter-spacing: 0.3em;
  margin-bottom: 0.3em;
}

hero h1{
  font-size: 2.5em;
  line-height: 1em;
  margin-top: 0.2em;
}

.primary-cta{
  background: var(--primary-color);
  color: var(--button-text-color);
  text-decoration: none;
  padding: 0.6em 1em;
  font-size: 1em;
  border-radius: 0.5em;
  font-weight: 600;
  display: inline-block;
  margin-top: 2em;
}

.watch-video-cta{
  display: block;
  margin-top: 1em;
}

.watch-video-cta img{
  margin-right: 0.5em;
}

.hero-image{
  width: 70%;
  margin-top: 3em;
}

section.features-section{
  background: #20272E;
  color: var(--button-text-color);
}

ul.features.list{
  margin: 0;
  padding-left: .1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}

.features-list li{
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
  margin-right: 40px;
}

.features-list li:before{
  left: -2em;
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(../img/checkmark.svg);
  background-size: contain;
  margin-right: .5em;
}

.features-section img{
  display: none;
}

.apoios-section{
  margin: 0px;
}

.apoio-left{
  display: inline-block;
  text-align: center;
  margin-top: -3em;
  margin-bottom: 2em;
}

.apoio-left h1{
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: 0.2em;
}

.apoio-right img{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 5em;
}

.lisboa img{
  width: 150%;
  margin-left: -50px;
}


.contact-left{
  margin-top: -8em;
}

.contact-left h3,h2, p{
  margin-bottom: -2px;
  text-align: center;
}

iframe{
  width: 100%;
  height: 300px;
  margin-top: 30px;
}

@media only screen and (min-width: 800px){
    .navbar .container{
      display:grid;
      grid-template-columns: 180px auto;
    }

    .navbar{
      height: 50px
    }

    .navbar nav{
      display: flex;
      justify-content: space-between;
      background: none;
      position: unset;
      height: auto;
      width: 100%;
      padding: 0;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      height: fit-content;
    }
    
    li {
      display: inline;
      float: left;
    }
    
    li a {
      display: block;
      color:#20272E;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      float: inline-end
    }

    li a:hover{
      color: #0073A7;
    }

    .login-cta{
      background-color: #0073A7;
      border-radius: 0.2em;
    }

    .login-cta a:hover{
      color:white;
    }

    .login-cta a{
      color: white;
    }
}

@media only screen and (min-width: 1080px){
  .container{
    width: 1080px;
    margin: 0 auto;
  }

  section{
    padding: 3em 4em;
  }

  .hero, .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }

  .hero{
    text-align: left;
  }

  .hero, .container, .left-col{
    margin: 1em 0em 0 1em;
  }

  .left-col{
    width: 70%;
    flex: 0 0 65%;
  }
  
  .hero-image{
    width: 30%;
    margin-right: 0em;
    flex: 1;
    float: right;
    margin-top: -15em;
  }

  .hero h1{
    font-size: 3em;
    width: 70%;
  }

  .hero-cta{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }


  .hero-cta{
    display: flex;
  }
  
  .watch-video-cta{
    margin-top: 2.5em;
  }
  
  .watch-video-cta img{
    margin-right: 0.5em;
    margin-left: 3em;
  }

  .features-section{
    height: 300px;
  }

  ul.features-list {
    display: grid;
    -ms-grid-columns: (minmax(1rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    margin-left: 5em;
  }
  ul.features-list li {
    font-size: 1.4em;
  }
  ul.features-list li:before {
    width: 30px;
    height: 30px;
  }
  .features-section {
    position: relative;
  }
  .features-section img {
    display: block;
    position: absolute;
    right: -2em;
    width: 450px;
    bottom: 3em;
  }

  .apoios-section .container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }  

  .apoios-section{
    text-align: left;
    margin-left: -30px;
  }

  .apoio-left{
    margin: 1em 0em 0 1em;
  }

  .apoio-left{
    width: 50%;
    flex: 0 0 65%;
  }

  .apoio-left h1{
    font-size: 3em;
    width: 70%;
    text-align: left;
  }

  .apoio-left p{
    text-align: left;
  }

  .apoio-right img{
      display: block;
      position: relative;
      right: 6em;
      width: 290px;
      bottom: 3em;
      margin-bottom: 20px;
    }
  
    .apoio-right{
      display: inline-block;
      margin-top: 50px;
      width: 60%;
    }

    .lisboa{
      margin-top: -50px;
      margin-bottom: 30px;
    }

    .contact-left{
      margin-left: -30px;
    }
    
    .contact-right{
      position: absolute;
      right: 0;
      top: 1;
      width: 45%;
      height: 70%;
      margin-top: -150px;
      margin-right: 20px;
    }

    .contact-left h3,h2, p{
      margin-bottom: -2px;
      text-align: left;
      font-size: 1.3em;
    }

    iframe{
      height: 70%;
    }
}

@media only screen and (min-width: 1366px){

  .features-section::before{
      content: '';
      position: absolute;
      width: 8%;
      height: 15em;
      background-color: var(--primary-color);
      left: 0;
      top: -5em;
    }

    .features-section::after{
      content: '';
      position: absolute;
      width: 200px;
      height: 10em;
      background: url('../img/dots.svg') no-repeat;
      left: 4.5;
      top: 1em;
    }

    ul.features-list {
      margin-left: 10em;
    }
}

@media only screen and (min-width: 1920px){


  nav{
    width: fit-content;
    margin: auto;
  }

  body section{
    max-width: 1500px;
    margin: auto;
  }

  .features-section{
    height: 500px;
  }

  .features-section img{
    width: 700px;
  }

  .container, .container-hero{
    margin-right: 0;
    margin-left: 50px;
  }

  .hero-image{
    margin-right: -250px;
  }
}

