@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*General*/
:root{/*Cores a usar*/
    --primary-color: #0073A7;
    --primary-background: #F1F1F1;
    --text-color: #707070;
    --button-text-color: white;
  }

*{
  max-width: 1920px;
  /*overflow-x: hidden;*/
  font-family: 'Poppins';
  text-decoration: none;
  margin: auto;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  max-width: 100%;
  margin: auto;
}

body{
  background-color: var(--primary-background);
}

/*Navbar*/
.navigation{
  background-color: white;
  display: flex;
  /*width: 3000px;*/
  /*justify-content:flex-end;*/
  align-items: center;
  font-size: 20px;
}

.navigation img{
  margin-left: .5em;
}

.nav-list{
  list-style: none;
}

.nav-list .list-item{
  display: inline-block;
  padding:  20px 10px;
  vertical-align: middle;
}

.navigation a{
  color: black;
}
.navigation a:hover{
  color: #0073A7;
  font-weight: 500;
  text-decoration: underline 0.15em #00aeff;
  transition: text-decoration-color 1500ms;
  text-underline-offset: 3px;
}

.nav-list button{
  background-color: #0073A7;
  color: white;
  border: none;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 5px;
}

.nav-list button a{
  color: white;
}

.nav-list button a:hover{
  color: white;
}

.nav-list button:hover{
  background-color: #00aeff;
  text-decoration: white;
  transition: none; 
}
.nav-list button a:hover{
  text-decoration: white;
  transition: none; 
}


/*Hero*/
.hero-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5vh;
}

.hero-column {
  flex: 50%;
}

.hero-content{
  margin-left: 15%;
}

.hero-content h1{
  font-size: 45px;
}

.hero-content h3{
  font-size: 21;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--text-color);
}

.application-dummy{
  height: 500px;
  width: 400px;
  margin-left: 30%;
}

.download-cta{
  margin-left: 15%;
  margin-top: 2em;
}

.hero button{
  background-color: #0073A7;
  color: white;
  border: none;
  width: 242px;
  height: 44px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 500;
}

.video button{
  background-color: white;
  color: var(--primary-color);
  border:var(--primary-color);
  width: 242px;
  height: 44px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #0073A7;
  font-weight: 500;
}

.video button:hover{
  background-color: #005074;
  transition: background-color 500ms
}
.hero button:hover{
  background-color: #00aeff;
  transition: background-color 500ms
}

.video, button:hover{
  color: white;
  border: white;
}

.video img{
  width: 20px;
}

/*Features*/
.features{
  background-color:#20272E;
  color: white;
  font-size: 25px;
}

.features-container {
  display: flex;
  flex-wrap: wrap;
}

.features-column {
  flex: 50%;
  margin-top: 10vh;
}

.features-list{
  margin-left: 15%;
  margin-top: 0.2em;
}

.features li {
	margin: 0;
  font-size: 30px;
  vertical-align: middle;
  margin-bottom: 1em;
}

li::marker {
  color: #73A700;
  font-size: 125%;
}


.features-column img{
  width: 70%;
  margin-top: -1.5em;
  float: right;
}

/*About Us*/
.about-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
}

.flex-child {
  flex: 1;
}  

.flex-child {
  margin-right: 20px;
} 

.flex-child h3{
  font-size: 21;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--text-color);
}

.flex-child h2{
  font-size: 40px;
}

.flex-child h1{
  font-size: 42px;
}

.flex-child:first-child{
  margin-left: 2em;
}

.flex-child img{
  width: 100%;
}

.ual-logo img{
  width: 80%;
}

.about-lisboa img{
  width: 100%;
}

/*Contactos*/

.contacts-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
}

.contacts-column {
  flex: 50%;
}

.contacts-column h3, .contacts-column h2, .contacts-column p{
  text-align: left;
  font-size: 1.3em;
  margin-left: 25px;
}

.contacts-column h1{
  margin-left: 25px;
  font-size: 40px;
}

.contacts a{
  color: inherit;
}

iframe{
  margin-left: 50px;
}

button{
  cursor: pointer;
}


@media screen and (max-width: 1370px) {
  .features-column img{
    width: 100%;
    margin-top: -0.5em;
    float: right;
  }
}

@media screen and (max-width: 1320px) {
  .about-text h2{
    font-size: 38px;
  }
}


@media screen and (max-width: 1100px) {
  .application-dummy{
    margin-left: 5em;
  }
  .download button{
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 1000px) {
  .hero-column{
    width: 100%;
  }

  .hero-content{
    text-align: center;
    margin-left: -5px;
  }

  .navigation ul{
    display: none;
  }

  .hero-column img{
    display: none;
  }

  iframe{
    margin: 0 auto;
    display: block;
    border-style:none;
  }

  .video button{
    margin-bottom: 10px;
  }

  .about-text h3{
    display: none;
  }

  .coluna{
    width: 100%;
  }

  .features li {
    font-size: 18px;
    padding-left: -20px;
  }

  li::marker {
    color: #73A700;
    font-size: 125%;
    white-space: pre-wrap;
  }

  .features-column img{
    margin-top: -5vh;
  }

  .features-column {
    flex: 100%;
    margin-top: 8vh;
    margin-left: -3em;

  }

  .features-column li{
    line-height: auto;
    text-align: center;
  }

  .contacts-content p, .contacts-content h1, .contacts-content h2, .contacts-content h3{
    text-align: center;
    margin-left: 0;
  }

  .flex-child:not(:first-child) {
    flex: 1;
  }
  
  .flex-child:nth-child(1) {
    width: 100%;
  }

  .about-text{
    text-align: center;
  }

  .about-logo img{
    margin-top: 2em;
    width: 300px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .ual-logo img{
    width: 250px;
  }
}

@media screen and (max-width: 1280px) {
  iframe{
    width: 400px;
  }
}

@media screen and (max-width: 375px) {
  iframe{
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  body{
    margin-right: 80px;
  }

  iframe{
    width: 400px;
  }

  .features-list li{
    list-style: none;
  }
}
